/* body {
    background-color: #303334;
    color: white;
    font-family: 'segoe ui', sans-serif;
    font-size: 16px;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
} */

.custom-header {
    background-color: rgb(228, 90, 228);
}

#signupButton {
    background-color: rgb(153, 77, 191);
}

#loginButton {
    background-color: rgb(212, 85, 195);
}